astronomer-cosmos>=0.4.1
# airflow-provider-great-expectations>=0.2.5
/tmp/airflow_provider_great_expectations-0.2.6-py3-none-any.whl
great-expectations==0.15.44
weaviate-client==3.15.4
torch==2.0.0
more-itertools==9.1.0
transformers==4.28.1
ffmpeg-python==0.2.0
openai-whisper==20230314