astronomer-cosmos==1.1.3
/tmp/airflow_provider_weaviate-0.0.1-py3-none-any.whl
scikit-learn==1.3.0
lightgbm==3.3.5
streamlit==1.22.0
streamlit-aggrid==0.3.4.post3
pyarrow==10.0.1
mlflow-skinny==2.7.1
numpy
torch==2.0.0
tqdm
more-itertools==9.1.0
transformers==4.27.4
ffmpeg-python==0.2.0
openai-whisper==v20230314
matplotlib==3.7.2