astronomer-cosmos==0.7.4
# airflow-provider-great-expectations==0.2.6
/tmp/airflow_provider_great_expectations-0.2.6-py3-none-any.whl
great-expectations==0.15.44
torch==2.0.0
more-itertools==9.1.0
transformers==4.28.1
ffmpeg-python==0.2.0
openai-whisper==20230314
weaviate-client==3.19.2
minio==7.1.15
scikit-learn==1.2.2
mlflow-skinny==2.4.2
tensorflow==2.12.0
protobuf==3.20.3